html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

ul li {
  display: inline-block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Playfair Display', serif;
}

.wrapper {
  max-width: 1330px;
  margin: 0 auto;
}

header .top-bar {
  padding: 11px 0px;
  background-color: #f2f2f2;
}

header .top-bar .wrapper {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

header .top-bar .phone a:hover {
  text-decoration: underline;
}

header .top-bar .phone i {
  color: #393939;
  font-size: 11px;
  font-weight: 400;
  margin-right: 10px;
}

header .top-bar .phone span {
  color: #393939;
  font-family: 'Lato', serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 17.29px;
}

header .top-bar .top_nav li::after {
  content: '|';
  display: inline-block;
  color: #393939;
  padding: 0 10px;
  font-size: 11px;
}

header .top-bar .top_nav li:last-child::after {
  display: none;
}

header .top-bar .top_nav a {
  color: #393939;
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

header .top-bar .top_nav a:hover {
  text-decoration: underline;
}

header .logo-bar {
  background-color: #fff;
  padding: 0 20px;
}

header .logo-bar .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
  margin: 15px auto;
}

header .logo-bar .wrapper .bot_nav {
  position: relative;
}

header .logo-bar .wrapper .bot_nav .top_nav {
  display: none;
  color: #000000;
  font-family: "Playfair Display";
  font-size: 18px;
  font-style: italic;
  line-height: 17.69px;
  padding: 10px 14px;
  cursor: pointer;
}

header .logo-bar .wrapper .bot_nav .top_nav:hover {
  text-decoration: underline;
}

header .logo-bar .wrapper .bot_nav #top_nav {
  display: none;
}

header .logo-bar .wrapper .bot_nav #top_nav:checked + ul {
  display: flex;
  flex-direction: column;
}

header .logo-bar .wrapper .bot_nav a {
  color: #000000;
  font-family: "Playfair Display";
  font-size: 18px;
  font-style: italic;
  line-height: 17.69px;
  padding: 0 14px;
  display: inline-block;
}

header .logo-bar .wrapper .bot_nav a:hover {
  text-decoration: underline;
}

header .logo-bar .wrapper .logo img {
  display: block;
}

header .logo-bar .wrapper .icon-select {
  display: flex;
  align-items: center;
}

header .logo-bar .wrapper .icon-select .icons-top a {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 24px;
  border: 2px solid #d9bf8f;
  border-radius: 50%;
  background-color: transparent;
  margin: 15px;
  text-align: center;
}

header .logo-bar .wrapper .icon-select .icons-top a:hover {
  background-color: #d9bf8f;
}

header .logo-bar .wrapper .icon-select .icons-top a:hover i {
  color: #fff;
}

header .logo-bar .wrapper .icon-select .icons-top a i {
  font-size: 14px;
  color: #d9bf8f;
}

header .logo-bar .wrapper .icon-select .select-top select {
  display: inline-block;
  border: none;
  padding: 14px;
  background-color: #000;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

header .logo-bar .wrapper .icon-select .select-top select:focus {
  outline: 1px solid #d9bf8f;
}

.slider {
  margin: 20px 0;
}

.slider .slider-box {
  position: relative;
  color: #fff;
}

.slider .slider-box img {
  display: block;
  width: 100%;
}

.slider .slider-box .text-border {
  position: absolute;
  top: 18%;
  left: 51%;
  transform: translateX(-50%);
  width: 273px;
  height: 273px;
  border: 2px solid #fff;
}

.slider .slider-box .slide-text {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 258px;
  height: 258px;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.slider .slider-box .slide-text p:nth-of-type(1) {
  font-size: 19px;
}

.slider .slider-box .slide-text p:nth-of-type(2) {
  font-size: 20px;
}

.slider .slider-box .slide-text p:nth-of-type(2)::before {
  content: '';
  display: inline-block;
  border-top: 1px solid #fff;
  border-left: 70px solid transparent;
  border-bottom: 2px solid #fff;
  width: 1px;
  height: 8px;
  margin: 0 10px;
}

.slider .slider-box .slide-text p:nth-of-type(2)::after {
  content: '';
  display: inline-block;
  border-top: 1px solid #fff;
  border-right: 70px solid transparent;
  border-bottom: 2px solid #fff;
  width: 1px;
  height: 8px;
  margin: 0 10px;
}

.slider .slider-box .slide-text p:nth-of-type(3) {
  font-size: 31px;
  color: #000;
}

.slider .slider-box .slide-text h2 {
  font-size: 59px;
  color: #000;
}

.slider .slider-box .slide-btn {
  position: absolute;
  bottom: 18%;
  left: 51%;
  transform: translateX(-50%);
  border: none;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  padding: 15px 25px;
  background-color: #f09d66;
  color: #fff;
}

.slick-prev {
  top: 100%;
}

.slick-next {
  top: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: #f09d66;
}

.slick-dots {
  bottom: 33px;
  left: 51%;
  transform: translateX(-50%);
  max-width: 300px;
}

.slick-dots li {
  margin: 0 9px;
}

.slick-dots li button {
  background-color: #B1B1B1;
  transform: rotate(-45deg);
  content: '';
  width: 15px;
  height: 15px;
}

.slick-dots li button::before {
  font-size: 0px;
}

.slick-dots li button:hover {
  background-color: #f09d66;
}

.slick-dots li button:focus {
  background-color: #000;
}

.suport > .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
}

.suport > .wrapper .suport-box {
  background-color: #d9bf8f;
  color: #ffffff;
  flex: 1 300px;
  position: relative;
  padding: 24px;
  margin: 20px 0;
}

.suport > .wrapper .suport-box:nth-child(1)::after {
  content: '';
  border: 50px solid transparent;
  border-left: 50px solid #d9bf8f;
  position: absolute;
  transform: rotate(0deg);
  right: -100px;
  top: 0px;
  z-index: 10;
}

.suport > .wrapper .suport-box:nth-child(2) {
  background-color: #000;
  z-index: 9;
  margin: 0 83px;
  flex: 1 350px;
}

.suport > .wrapper .suport-box:nth-child(2)::before {
  content: '';
  display: inline-block;
  border: 49.5px solid transparent;
  border-right: 1px solid #000;
  border-top: 49.5px solid #000;
  border-bottom: 49.5px solid #000;
  position: absolute;
  left: -50px;
  top: 0px;
  z-index: 8;
}

.suport > .wrapper .suport-box:nth-child(2)::after {
  content: '';
  display: inline-block;
  border: 49.5px solid transparent;
  border-left: 1px solid #000;
  border-top: 49.5px solid #000;
  border-bottom: 49.5px solid #000;
  position: absolute;
  right: -49px;
  top: 0px;
  z-index: 8;
}

.suport > .wrapper .suport-box:nth-child(3)::before {
  content: '';
  border: 50px solid transparent;
  border-right: 50px solid #d9bf8f;
  position: absolute;
  transform: rotate(0deg);
  left: -100px;
  top: 0px;
  z-index: 10;
}

.suport > .wrapper .suport-box i {
  font-size: 48px;
  margin-right: 30px;
}

.suport > .wrapper .suport-box .text {
  display: inline-block;
}

.suport > .wrapper .suport-box .text h3 {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.suport > .wrapper .suport-box .text span {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  display: inline-block;
}

.featured {
  padding: 20px;
}

.featured .featured_header {
  display: flex;
  align-items: center;
}

.featured .featured_header .line {
  width: 28%;
  border-top: 1px solid #ddd;
  height: 0;
}

.featured .featured_header h3 {
  width: 42%;
  text-transform: capitalize;
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  font-family: "Playfair Display";
  color: #000000;
  text-align: center;
  position: relative;
  margin: 60px 0;
  flex: 1 0 265px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.featured .featured_header h3:before,
.featured .featured_header h3:after {
  content: '';
  background-image: url(../img/rectangle-18.png);
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

.featured .boxes {
  display: grid;
  grid-gap: 15px 15px;
  grid-template-columns: 400px 1fr 400px;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "box1 box3 box4" "box2 box3 box5";
}

.featured .boxes .box1 {
  grid-area: box1;
}

.featured .boxes .box2 {
  grid-area: box2;
}

.featured .boxes .box3 {
  grid-area: box3;
}

.featured .boxes .box4 {
  grid-area: box4;
}

.featured .boxes .box5 {
  grid-area: box5;
}

.featured .boxes .box {
  cursor: pointer;
  position: relative;
}

.featured .boxes .box:hover .box-hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.featured .boxes .box:hover .box-hover .submit-btn {
  display: block;
}

.featured .boxes .box:hover .box-hover i {
  display: block;
}

.featured .boxes .box img {
  width: 100%;
}

.featured .boxes .box .box-hover {
  position: absolute;
  width: 87%;
  height: 85%;
  top: 50%;
  left: 6%;
  transform: translateY(-50%);
  border: 3px solid #fff;
  background-color: transparent;
}

.featured .boxes .box .box-hover .submit-btn {
  border: none;
  background-color: #f0975c;
  color: #fff;
  padding: 15px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  display: none;
  cursor: pointer;
}

.featured .boxes .box .box-hover i {
  font-size: 50px;
  color: #d9bf8f;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  display: none;
}

.featured .boxes .box .hover-3 {
  position: absolute;
  width: 87%;
  height: 92%;
  top: 50%;
  left: 6%;
  transform: translateY(-50%);
  border: 3px solid #fff;
  background-color: transparent;
}

.recent {
  padding: 20px;
}

.recent .recent_header {
  display: flex;
  align-items: center;
}

.recent .recent_header .line {
  width: 28%;
  border-top: 1px solid #ddd;
  height: 0;
}

.recent .recent_header h3 {
  width: 42%;
  text-transform: capitalize;
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  font-family: "Playfair Display";
  color: #000000;
  text-align: center;
  position: relative;
  margin: 60px 0;
  flex: 1 0 265px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.recent .recent_header h3:before,
.recent .recent_header h3:after {
  content: '';
  background-image: url(../img/rectangle-18.png);
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

.recent .rec_boxes {
  border: 1px solid #eaeaea;
  padding: 10px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "rec_box1 rec_box2 rec_box3 rec_box4" "rec_box5 rec_box6 rec_box7 rec_box8";
}

.recent .rec {
  position: relative;
  cursor: pointer;
}

.recent .rec:nth-child(1) {
  grid-area: rec_box1;
}

.recent .rec:nth-child(2) {
  grid-area: rec_box2;
}

.recent .rec:nth-child(3) {
  grid-area: rec_box3;
}

.recent .rec:nth-child(4) {
  grid-area: rec_box4;
}

.recent .rec:nth-child(5) {
  grid-area: rec_box5;
}

.recent .rec:nth-child(6) {
  grid-area: rec_box6;
}

.recent .rec:nth-child(7) {
  grid-area: rec_box7;
}

.recent .rec:nth-child(8) {
  grid-area: rec_box8;
}

.recent .rec:hover .hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.recent .rec:hover .rec-cart {
  border-bottom-color: #f09d66;
}

.recent .rec img {
  display: block;
  width: 100%;
  height: 100%;
}

.recent .rec .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.recent .rec .rec-cart {
  border: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 198px;
  border-bottom: 42px solid #000;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  background-color: transparent;
  cursor: pointer;
}

.recent .rec .rec-cart span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  margin: 15px 0;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
}

.brand {
  padding: 20px;
}

.brand .brand_header {
  display: flex;
  align-items: center;
}

.brand .brand_header .line {
  width: 28%;
  border-top: 1px solid #ddd;
  height: 0;
}

.brand .brand_header h3 {
  width: 42%;
  text-transform: capitalize;
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  font-family: "Playfair Display";
  color: #000000;
  text-align: center;
  position: relative;
  margin: 60px 0;
  flex: 1 0 265px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.brand .brand_header h3:before,
.brand .brand_header h3:after {
  content: '';
  background-image: url(../img/rectangle-18.png);
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

.brand .brad_boxes {
  padding: 58px 55px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.brand .brad_boxes .brand_box {
  flex: 0 0 150px;
  margin: 15px;
}

.brand .brad_boxes .brand_box img {
  display: block;
  width: 100%;
}

.testimonial .testimonial_header {
  padding: 20px;
  display: flex;
  align-items: center;
}

.testimonial .testimonial_header .line {
  width: 28%;
  border-top: 1px solid #ddd;
  height: 0;
}

.testimonial .testimonial_header h3 {
  width: 42%;
  text-transform: capitalize;
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  font-family: "Playfair Display";
  color: #000000;
  text-align: center;
  position: relative;
  margin: 60px 0;
  flex: 1 0 265px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.testimonial .testimonial_header h3:before,
.testimonial .testimonial_header h3:after {
  content: '';
  background-image: url(../img/rectangle-18.png);
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

.testimonial .testimonial_box {
  background-color: #f09d66;
  width: 100%;
  padding: 40px 0px;
}

.testimonial .testimonial_box .wrapper {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.testimonial .testimonial_box .testimonial-info {
  display: flex;
  align-items: stretch;
  max-width: 580px;
  margin: 20px 0;
}

.testimonial .testimonial_box .testimonial-info:first-child {
  text-align: left;
  align-self: flex-start;
}

.testimonial .testimonial_box .testimonial-info:last-child {
  text-align: right;
  align-self: flex-end;
}

.testimonial .testimonial_box .testimonial-info img {
  display: block;
}

.testimonial .testimonial_box .testimonial-info .testimonial-text {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.testimonial .testimonial_box .testimonial-info .testimonial-text p {
  font-style: italic;
  font-family: "Playfair Display";
  font-size: 18px;
  color: #ffffff;
  line-height: 30.16px;
}

.testimonial .testimonial_box .testimonial-info .testimonial-text h4 {
  color: #000000;
  font-family: "Playfair Display";
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  line-height: 17.99px;
  margin: 60px 0px 25px;
}

.testimonial .testimonial_box .testimonial-info .testimonial-text span {
  color: #7f7e7e;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 29.98px;
  font-weight: 700;
  display: block;
  font-family: 'Lato', sans-serif;
}

footer {
  background-color: #141414;
  position: relative;
  font-size: 0px;
  transition: all 1.5s ease 0.5s;
}

footer .wrapper {
  padding: 20px;
}

footer .footer_top_info {
  padding: 70px 0;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 365px;
  grid-template-rows: 1fr;
  grid-template-areas: "footer_info_1 footer_info_2 footer_info_3 footer_info_4";
}

footer .footer_top_info .footer_info h4 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  margin-bottom: 50px;
}

footer .footer_top_info .footer_info li {
  display: block;
}

footer .footer_top_info .footer_info a {
  color: #737373;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  display: block;
  margin: 13px 0;
}

footer .footer_top_info .footer_info a:hover {
  text-decoration: underline;
}

footer .footer_top_info .footer_info a:last-child {
  margin-bottom: 0;
}

footer .footer_top_info .footer_info:nth-child(1) {
  grid-area: footer_info_1;
}

footer .footer_top_info .footer_info:nth-child(2) {
  grid-area: footer_info_2;
}

footer .footer_top_info .footer_info:nth-child(3) {
  grid-area: footer_info_3;
}

footer .footer_top_info .footer_info:nth-child(4) {
  grid-area: footer_info_4;
}

footer .footer_top_info .footer_info:nth-child(4) ul {
  margin: 50px 0;
}

footer .footer_top_info .footer_info:nth-child(4) li {
  display: inline-block;
}

footer .footer_top_info .footer_info:nth-child(4) a {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  line-height: 53px;
  text-align: center;
  margin: 0;
  margin-right: 18px;
  border: 2px solid transparent;
}

footer .footer_top_info .footer_info:nth-child(4) a:hover {
  border: 2px solid #d9bf8f;
  background-color: transparent;
}

footer .footer_top_info .footer_info:nth-child(4) a:hover i {
  color: #d9bf8f;
}

footer .footer_top_info .footer_info:nth-child(4) i {
  font-size: 24px;
  color: #141414;
}

footer .footer_top_info .footer_info:nth-child(4) p {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30.01px;
}

footer .footer_top_info .footer_info:nth-child(4) p span {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 300;
  margin: 0 5px;
}

footer .footer_top_info .footer_info:nth-child(4) form {
  border: 1px solid #484848;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer .footer_top_info .footer_info:nth-child(4) form input {
  flex: 1;
  color: #6a6a6a;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding: 10px 22px;
  background-color: #141414;
  border: none;
  cursor: pointer;
}

footer .footer_top_info .footer_info:nth-child(4) form input:focus {
  outline: none;
}

footer .footer_top_info .footer_info:nth-child(4) form button {
  border: none;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 30.01px;
  text-transform: uppercase;
  background-color: #323030;
  border: 2px solid #141414;
  cursor: pointer;
}

footer .footer_top_info .footer_info:nth-child(4) form button:focus {
  outline: none;
}

footer .border-top {
  height: 2px;
  background-color: #363636;
  display: block;
  position: relative;
  cursor: pointer;
  transition: all 1.5s ease 0.5s;
}

footer .border-top:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0px;
  height: 0px;
  border-top: 10px solid #363636;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

footer #border {
  display: none;
}

footer #border:checked + .footer_bottom_info {
  display: block;
  transition: all 1.5s ease 0.5s;
}

footer .footer_bottom_info {
  display: none;
  margin-bottom: 80px;
  position: relative;
}

footer .footer_bottom_info .copyfy {
  color: #363636;
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  width: 255px;
  margin: 25px 0px 30px;
}

footer .footer_bottom_info .cards {
  width: 200px;
}

footer .footer_bottom_info .cards i {
  background-color: #bbbbbb;
  margin: 0px 6px;
  font-size: 20px;
}

footer .black_line {
  background-color: #000;
  height: 40px;
}

footer #toTop {
  width: 40px;
  height: 40px;
  line-height: 38px;
  font-weight: 400;
  background: #000;
  opacity: 0.56;
  text-align: center;
  position: absolute;
  bottom: 47px;
  right: 0px;
  cursor: pointer;
  display: block;
  color: #fff;
  font-family: verdana;
  font-size: 16px;
  z-index: 999;
}

.ie8 {
  display: none;
  width: 1000px;
  height: 800px;
  background-color: orange;
  opacity: 0.7;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.ie8 h1 {
  position: absolute;
  top: 20%;
  font-size: 50px;
  font-weight: 700px;
  font-family: 'Lato', serif;
  text-transform: uppercase;
}

@media screen and (max-width: 1360px) {
  .suport > .wrapper .suport-box {
    margin: 20px;
  }

  .suport > .wrapper .suport-box:nth-child(1)::after,
  .suport > .wrapper .suport-box:nth-child(2)::before,
  .suport > .wrapper .suport-box:nth-child(2)::after,
  .suport > .wrapper .suport-box:nth-child(3)::before {
    display: none;
  }

  .suport > .wrapper .suport-box:nth-child(2) {
    margin: 20px;
  }

  .featured .boxes {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "box1 box4" "box2 box5";
  }

  .featured .boxes .box3 {
    display: none;
  }
}

@media screen and (max-width: 1300px) {
  .suport > .wrapper .suport-box i {
    margin-right: 10px;
  }
}

@media screen and (max-width: 1260px) {
  .suport > .wrapper {
    flex-direction: row;
  }

  .suport > .wrapper .suport-box {
    padding-right: 0px;
  }
}

@media screen and (max-width: 1210px) {
  .testimonial .testimonial_box .wrapper {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1130px) {
  .slider .slider-box .text-border {
    top: 9%;
    width: 187px;
    height: 187px;
  }

  .slider .slider-box .slide-text {
    width: 170px;
    height: 170px;
  }

  .slider .slider-box .slide-text p:nth-of-type(1) {
    font-size: 14px;
  }

  .slider .slider-box .slide-text p:nth-of-type(2) {
    font-size: 14px;
  }

  .slider .slider-box .slide-text p:nth-of-type(2)::before {
    display: none;
  }

  .slider .slider-box .slide-text p:nth-of-type(2)::after {
    display: none;
  }

  .slider .slider-box .slide-text p:nth-of-type(3) {
    font-size: 21px;
  }

  .slider .slider-box .slide-text h2 {
    font-size: 40px;
  }
}

@media screen and (max-width: 1030px) {
  header .logo-bar .wrapper .bot_nav .top_nav {
    display: block;
  }

  header .logo-bar .wrapper .bot_nav ul {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 9;
    background-color: #d9bf8f;
    width: 100px;
    left: 0;
  }

  header .logo-bar .wrapper .bot_nav a {
    padding: 10px 14px;
  }

  header .logo-bar .wrapper .logo {
    display: none;
  }
}

@media screen and (max-width: 935px) {
  .recent .rec_boxes {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "rec_box1 rec_box2" "rec_box3 rec_box4" "rec_box5 rec_box6" "rec_box7 rec_box8";
  }
}

@media screen and (max-width: 930px) {
  footer .footer_top_info {
    grid-gap: 20px 0;
    grid-template-columns: 1fr 365px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "footer_info_1 footer_info_2" "footer_info_3 footer_info_4";
  }
}

@media screen and (max-width: 850px) {
  .recent .recent_header .line {
    display: none;
  }
}

@media screen and (max-width: 770px) {
  .slider .slider-box .slide-btn {
    padding: 10px 15px;
    font-size: 14px;
  }

  .slick-dots {
    bottom: 15px;
  }

  .slick-dots {
    bottom: 0;
    max-width: 180px;
  }
}

@media screen and (max-width: 760px) {
  .featured .boxes .box .box-hover .submit-btn {
    padding: 10px;
  }
}

@media screen and (max-width: 750px) {
  header .logo-bar .wrapper .icon-select .icons-top a {
    margin: 5px;
    width: 20px;
    height: 20px;
    line-height: 12px;
  }

  header .logo-bar .wrapper .icon-select .icons-top a i {
    font-size: 10px;
  }

  header .logo-bar .wrapper .icon-select .select-top select {
    margin-left: 20px;
  }
}

@media screen and (max-width: 700px) {
  .featured .featured_header .line {
    display: none;
  }

  .brand .brand_header .line {
    display: none;
  }

  .testimonial .testimonial_header .line {
    display: none;
  }
}

@media screen and (max-width: 670px) {
  .suport > .wrapper .suport-box {
    margin: 20px 0;
  }

  .suport > .wrapper .suport-box:nth-child(2) {
    margin: 20px 0;
  }
}

@media screen and (max-width: 660px) {
  .slider .slider-box .text-border {
    width: 129px;
    height: 129px;
  }

  .slider .slider-box .slide-text {
    width: 110px;
    height: 110px;
  }

  .slider .slider-box .slide-text p:nth-of-type(1) {
    font-size: 14px;
  }

  .slider .slider-box .slide-text p:nth-of-type(3) {
    font-size: 14px;
  }

  .slider .slider-box .slide-text h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 610px) {
  footer .footer_top_info {
    grid-gap: 20px 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "footer_info_1" "footer_info_2" "footer_info_3" "footer_info_4";
  }
}

@media screen and (max-width: 580px) {
  .testimonial .testimonial_box .testimonial-info .testimonial-text p {
    font-size: 14px;
  }

  .testimonial .testimonial_box .testimonial-info .testimonial-text h4 {
    font-size: 18px;
  }

  .testimonial .testimonial_box .testimonial-info .testimonial-text span {
    font-size: 10px;
  }
}

@media screen and (max-width: 560px) {
  .recent .rec_boxes {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "rec_box1" "rec_box2" "rec_box3" "rec_box4" "rec_box5" "rec_box6" "rec_box7" "rec_box8";
  }
}

@media screen and (max-width: 550px) {
  header .top-bar .wrapper {
    flex-direction: column;
  }

  header .top-bar .phone {
    margin: 5px 0;
  }

  header .top-bar .top_nav {
    margin: 5px 0;
  }
}

@media screen and (max-width: 530px) {
  .brand .brad_boxes {
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 525px) {
  .testimonial .testimonial_box .testimonial-info {
    flex-direction: column;
  }

  .testimonial .testimonial_box .testimonial-info:first-child {
    align-self: center;
  }

  .testimonial .testimonial_box .testimonial-info:last-child {
    align-self: center;
  }
}

@media screen and (max-width: 510px) {
  .slider .slider-box .slide-btn {
    padding: 5px 10px;
    font-size: 10px;
  }

  .slick-dots li button {
    width: 10px;
    height: 10px;
  }
}

@media screen and (max-width: 460px) {
  .featured .boxes {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "box1" "box2" "box3" "box4" "box5";
  }

  .featured .boxes .box3 {
    display: block;
  }
}

@media screen and (max-width: 455px) {
  .slider .slider-box .text-border {
    display: none;
  }
}

@media screen and (max-width: 430px) {
  .suport > .wrapper .suport-box i {
    font-size: 36px;
  }

  .suport > .wrapper .suport-box .text h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 420px) {
  header .top-bar .top_nav li {
    display: block;
  }

  header .top-bar .top_nav li::after {
    display: none;
  }

  header .logo-bar .wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 410px) {
  footer .footer_top_info .footer_info:nth-child(4) a {
    width: 30px;
    height: 30px;
    line-height: 32px;
  }

  footer .footer_top_info .footer_info:nth-child(4) i {
    font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
  .recent .recent_header h3:before,
  .recent .recent_header h3:after {
    display: none;
  }

  footer #toTop {
    bottom: 0px;
  }
}

@media screen and (max-width: 370px) {
  header .logo-bar .wrapper {
    align-items: center;
  }

  header .logo-bar .wrapper .icon-select {
    flex-direction: column;
    align-items: center;
  }

  header .logo-bar .wrapper .icon-select .icons-top {
    margin-bottom: 10px;
  }

  header .logo-bar .wrapper .icon-select .select-top select {
    margin-left: 0;
  }
}

@media screen and (max-width: 340px) {
  .featured .featured_header h3:before,
  .featured .featured_header h3:after {
    display: none;
  }

  .brand .brand_header h3:before,
  .brand .brand_header h3:after {
    display: none;
  }

  .testimonial .testimonial_header h3:before,
  .testimonial .testimonial_header h3:after {
    display: none;
  }
}